.headerContainer {
  background: #00527a;
  flex-basis: 50px;

  display: flex;
  flex-direction: row;
  gap: 54px;
  align-items: center;
}

.logoImg {
  margin-left: 43px;

  width: 84px;
  height: 90px;
}

.titleHeader {
  font-family: Sansation;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  /* identical to box height */

  color: #fffdfd;

  width: 429px;
  height: 34px;
}
