.footerContainer {
  height: 64px;

  background: #00527a;

  position: relative;
  width: 100%;
  bottom: 0;
}

.footerTitle {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  text-align: center;

  transform: translateY(-50%);

  color: #fff;
}
