.footerContainer {
  background: #00527a;
  color: #fff;

  flex-basis: 50px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footerTitle {
  display: block;
  margin: 0 auto;
  color: #fff;
}
