.employeesPainelBody {
  width: 1000px;
  height: 760px;
  background: #ffffff;

  display: block;
  margin: 0 auto;
}

.employeesPainelReturn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 150px;
  flex-direction: row;

  background: #85a0ab;
  color: #fff;

  margin: 10px;
}

.employeesCreate {
  margin-right: -259px;
}

.employeesSearchMethod {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.employeesSearchGroup {
  margin-right: 100px;

  display: flex;
  gap: 10px;
}

.employeesParameterSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: 20px;

  background: #ffffff;
  border: 1px solid #b7b7b7;
  box-sizing: border-box;
  border-radius: 10px;
}

.fieldsetBorder {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 10px;
  box-shadow: 0px 0px 0px 0px #000;
}

.fieldsetBorder .legendBorder {
  font-size: 1.2em !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}
h2 {
  text-align: center;
  margin-bottom: 50px;
}
h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
.footer {
  text-align: center;
}
.footer a {
  color: #53b2c8;
}

.employeesFormGroup {
  position: relative;
  margin-top: 30px;
}
.employeesInput {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 150px;

  border: none;
  border-bottom: 1px solid #757575;

  background: #f0f0f0;
}
.employeesInput:focus {
  outline: none;
}

.employeesLabel {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

.bar {
  position: relative;
  display: block;
  width: 150px;

  margin-right: 30px;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.searchButton {
  border: none;
  margin-top: 30px;
  padding: 5px 10px 5px 5px;

  cursor: pointer;

  background-color: transparent !important;
}

.searchButton:hover {
  background-color: #ffa12d !important;
  color: #fff;
  transition: 0.3s;
}

.employeesBack,
.employeesCreate,
.employeesClose {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #ffa12d;
  color: white;
}

table {
  border-collapse: collapse;
}

td:last-child {
  width: 120px;
}
